<mapper namespace="cn.ce.platform_service.dubbapply.dao.IDubboDepJarDao">
	<resultMap type="cn.ce.platform_service.dubbapply.entity.DepJar" id="depJar">
		<id column="jar_id" property="id"/>
		<result column="main_jar_id" property="mainJarId"/>
		<result column="original_file_name" property="originalFileName"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="is_parsed" property="isParsed"/>
		<result column="jar_size" property="jarSize"/>
		<result column="dfs_path" property="dfsPath"/>
		<result column="create_date" property="createDate"/>
		<result column="update_date" property="updateDate"/>
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="enterprise_name" property="enterpriseName"/>
	</resultMap>
	
	<insert id="saveDepJar" parameterType="cn.ce.platform_service.dubbapply.entity.DepJar">
		insert into dep_jar
			(jar_id,main_jar_id,original_file_name,is_deleted,is_parsed,jar_size
			,dfs_path,create_date,update_date,user_id,user_name,enterprise_name)
		values
			(#{id},#{main_jar_id},#{originalFileName},#{isDeleted},#{isParsed},#{jarSize},
			#{dfsPath},#{createDate},#{updateDate},#{userId},#{userName},#{enterpriseName})
	</insert>
	
	<select id="findMainJarById" resultMap="depJar">
		select * from dep_jar where jar_id=#{depJarId}
	</select>
	
	<update id="updateDepJar" parameterType="cn.ce.platform_service.dubbapply.entity.DepJar">
		update dep_jar set
			jar_id=#{jarId},main_jar_id=#{mainJarId},original_file_name=#{originalFileName},is_deleted=#{isDeleted}
			,is_parsed=#{isParsed},jar_size=#{jarSize},dfs_path=#{dfsPath},create_date=#{createDate}
			,update_date=#{updateDate},user_id=#{userId},user_name=#{userName},enterprise_name=#{enterpriseName}
	</update>
	
	<select id="findDepJarByIds" resultMap="depJar">
		select * from dep_jar where jar_id in
		<foreach collection="depJarIds" item="item" 
			open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<select id="findDepJarsByMainId" resultMap="depJar">
		select * from dep_jar where main_jar_id=#{mainJarId}
	</select>
	
	<sql id="listCondition">
		<where>
			<if test="null != mainJarId && mainJarId != ''">
				AND main_jar_id = #{mainJarId}
			</if>
			<if test="null != originalFieName && originalFileName !=''">
				AND original_file_name like concat(concat("%",#{s}),"%")
			</if>
		</where>
	</sql>
	
	<select id="findListSize" parameterType="cn.ce.platform_service.dubbapply.entity.QueryDepJar" resultType="int">
		select count(*) from dep_jar
		<include refid="listConiditon" />
	</select>
	
	<select id="getPagedList" parameterType="cn.ce.platform_service.dubbapply.entity.QueryDepJar" resultMap="depJar">
		select * from dep_jar order by update_time desc,create_time desc
		<include refid="listConiditon" />
		limit
		<choose>
			<when test="startNum == null or startNum == '0'">
				0,
			</when>
			<otherwise>
				#{startNum},
			</otherwise>
		</choose>
		<choose>
			<when test="pageSize == null or pageSize == '0' ">
				10
			</when>
			<otherwise>
				#{pageSize}
			</otherwise>
		</choose>
	</select>	
</mapper>