<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ce.platform_service.sandbox.dao.ISandBoxDao">
	<resultMap type="cn.ce.platform_service.sandbox.entity.SandBox" id="sandBoxMap">
		<id column="box_id" property="boxId"/>
		<result column="name" property="name"/>
		<result column="template_name" property="templateName"/>
		<result column="box_url" property="boxUrl"/>
		<result column="resource_pool" property="resourcePool"/>
		<result column="create_state" property="createState"/>
		<result column="state" property="state"/>
		<result column="deleted" property="deleted"/>
		<result column="create_date" property="createDate"/>
		<result column="delete_date" property="deleteDate"/>
		<result column="user_id" property="userId"/>
		<result column="enterprise_name" property="enterpriseName"/>
	</resultMap>

	<select id="findByName" resultMap="sandBoxMap">
		select * from sand_box where name = #{name}
	</select>
	
	<insert id="saveBox" parameterType="cn.ce.platform_service.sandbox.entity.SandBox">
		insert into sand_box 
			(box_id,name,template_name,box_url,resource_pool,create_state,state,deleted,
			create_date,delete_date,user_id,enterprise_name)
		values
			(#{boxId},#{name},#{templateName},#{boxUrl},#{resourcePool},
			#{createState},#{state},#{deleted},#{createDate},#{deleteDate},
			#{userId},#{enterpriseName})
	</insert>
	
	<select id="findById" resultMap="sandBoxMap">
		select * from sand_box where box_id = #{boxId}
	</select>
	
	<sql id="listBasic">
		<where>
			<if test="null != name and name != ''">
				AND name like concat(concat("%",#{name}),"%")
			</if>
			<if test="null != state and state != ''">
				AND state = #{state}
			</if>
			<if test="null != createState and createState != ''">
				AND create_state=#{createState}
			</if>
		</where>
	</sql>
	<select id="findListSize" parameterType="cn.ce.platform_service.sandbox.entity.QuerySandBox"
		resultType = "int">
		select count(*) from sand_box
		<include refid="listBasic" />
	</select>
	
	<select id="getPagedList" parameterType="cn.ce.platform_service.sandbox.entity.QuerySandBox"
		resultMap="sandBoxMap">
		select * from sand_box 
		<include refid="listBasic" />
		order by create_date desc
			limit
			<choose>
				<when test="startNum == null or startNum == '0'">
					0,
				</when>
				<otherwise>
					#{startNum},
				</otherwise>
			</choose>
			<choose>
				<when test="pageSize == null or pageSize == '0' ">
					10
				</when>
				<otherwise>
					#{pageSize}
				</otherwise>
			</choose>
	</select>

	<update id="updateBox">
		update sand_box set name=#{name},template_name=#{templateName},
			box_url=#{boxUrl},resource_pool=#{resourcePool},create_state=#{createState},
			state=#{state},deleted=#{deleted},create_date=#{createDate},
			delete_date=#{deleteDate},user_id=#{userId},enterprise_name=#{enterpriseName}
		where box_id = #{boxId}
	</update>








</mapper>